.example-card {
  text-align: -webkit-center;
  height: -webkit-fill-available !important;
  width: -webkit-fill-available;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-color: aliceblue;
  margin-right: 100px;
  margin-left: 100px;
}
.info{
  color: gray;
  font-size: 20px;
  margin: 20px;
}
h1{
  text-align: center;
}
.image{
  padding-top: 50px;
  height: 100%;
  width: 400px;
}
