<div class="mat-elevation-z10 table">
    <table mat-table #table [dataSource]="activities" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name of Activity</th>
        <td mat-cell *matCellDef="let activity">{{activity.name | uppercase}}</td>
      </ng-container>

      <!-- Gpa Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
      </ng-container>

      <!-- Gpa Column -->
      <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
        </ng-container>

      <!-- picture Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Activity</th>
        <td mat-cell *matCellDef="let activity">{{activity.date}}</td>
      </ng-container>

      <!-- Gpa Column -->
      <ng-container matColumnDef="period">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Period of registration</th>
          <td mat-cell *matCellDef="let activity">{{activity.period}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let activity; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>
