<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
<alert></alert>
<router-outlet></router-outlet> -->
<mat-toolbar color="primary" *ngIf="isAdminLoggedIn$ | async">
  <span aria-label="Side nav toggle icon">LTA</span>
  <button class="span-style" [routerLink]="['app-confirm-registration']" routerLinkActive="router-link-active">
    <a mat-list-item>Confirm
      Registered
      Students</a>
  </button>
  <button class="span-style" [routerLink]="['admin/create-activity']" routerLinkActive="router-link-active">
    <a mat-list-item>Create Activity
    </a>
  </button>
  <button class="span-style" [routerLink]="['create-teacher']" routerLinkActive="router-link-active">
    <a mat-list-item>Create Teacher Account
    </a>
  </button>
  <span class="example-spacer"></span>
  <span class="logout">
    <a (click)="logout()" [routerLink]="['/login-page']">Logout</a>
  </span>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="isTeacherLoggedIn$ | async">
  <span aria-label="Side nav toggle icon">LTA</span>
  <button class="span-style" [routerLink]="['teacher/list-pending']" routerLinkActive="router-link-active">
    <a mat-list-item>
      Show Pending List of Students
    </a>
  </button>
  <button class="span-style" [routerLink]="['teacher/list-students-enrolled']"
          routerLinkActive="router-link-active">
    <a mat-list-item>
      Show Students Enrolled
    </a>
  </button>
  <button class="span-style" [routerLink]="['teacher/view']" routerLinkActive="router-link-active">
    <a mat-list-item>
      Show Activities
    </a>
  </button>
  <span class="example-spacer"></span>
  <span class="logout">
      <a (click)="logout()" [routerLink]="['/login-page']">Logout</a>
    </span>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="isStudentLoggedIn$ | async">
  <span aria-label="Side nav toggle icon" class="m-r-50">LTA</span>
  <button class="span-style" [routerLink]="['list-enrolled']" routerLinkActive="router-link-active">
    <a mat-list-item>
      Show Enrolled Activities
    </a>
  </button>
  <button class="span-style" [routerLink]="['student-view-activities']" routerLinkActive="router-link-active">
    <a mat-list-item>
      Show All Activities
    </a>
  </button>
  <button class="span-style" [routerLink]="['student-profile']" routerLinkActive="router-link-active">
    <a mat-list-item>
      Profile
    </a>
  </button>
  <span class="example-spacer"></span>
  <span class="logout">
        <a (click)="logout()" [routerLink]="['/login-page']">Logout</a>
      </span>
</mat-toolbar>
<main style="height:100%">
  <alert></alert>
  <router-outlet></router-outlet>
</main>
