<div class="header">List of students</div>
<mat-table [dataSource]="users" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="ID">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Firstname">
    <mat-header-cell *matHeaderCellDef> Firstname </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Lastname">
    <mat-header-cell *matHeaderCellDef> Lastname </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Student Id">
    <mat-header-cell *matHeaderCellDef> Student Id </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.studentId}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Date of Birth">
    <mat-header-cell *matHeaderCellDef> Date of Birth </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.dob}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Accept">
    <mat-header-cell *matHeaderCellDef> Accept or Delete User </mat-header-cell>
    <mat-cell *matCellDef="let user">
    <button mat-raised-button color="warn" (click)="deleteUser(user.id)" >DELETE</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div class="header">List of Activities</div>
<mat-table [dataSource]="activities" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="ID">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let activity"> {{activity.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let activity"> {{activity.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Location">
    <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
    <mat-cell *matCellDef="let activity"> {{activity.location}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Description">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let activity"> {{activity.description}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Period">
    <mat-header-cell *matHeaderCellDef> Period Of Register </mat-header-cell>
    <mat-cell *matCellDef="let activity"> {{activity.period}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Date">
    <mat-header-cell *matHeaderCellDef> Date of Activity </mat-header-cell>
    <mat-cell *matCellDef="let activity"> {{activity.date}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Teacher">
      <mat-header-cell *matHeaderCellDef> Host Teacher </mat-header-cell>
      <mat-cell *matCellDef="let activity"> {{activity.teacher}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Accept">
    <mat-header-cell *matHeaderCellDef> Accept or Delete User </mat-header-cell>
    <mat-cell *matCellDef="let activity">
    <button mat-raised-button color="warn" (click)="deleteActivity(activity.id)" >DELETE</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
</mat-table>
